################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventHighway.Core/bin/Debug/net8.0
/EventHighway.Core/obj
/EventHighway.Core.Tests.Unit/bin/Debug/net8.0
/EventHighway.Core.Tests.Unit/obj
/EventHighway.Core/bin/Release
/EventHighway.Core.Tests.Unit/bin/Release/net8.0
